/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #222;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #00ffbb;
    font-weight: bold;
    margin-right: 100px;
  }

  nav h1 {
    text-decoration: none;
    color: #00ffbb;
    font-weight: bold;
  }

  /*body*/

  body {
    font-family: Arial, sans-serif;
    background-size: cover;  /* ปรับขนาดให้เต็มโดยไม่บิดสัดส่วน */
    background-position: top; /* จัดให้อยู่กึ่งกลาง */
  }

  #introduction{
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    font-size: 20px;
  }

  #introduction p{
    width: 500px;
    margin-top: 50px;
    color: white;
    font-size: 10px;
  }

  #social{
    width:40px;
    padding: 5px;
    background-color: #ffffff;
    position:absolute;
    top: 300px;
    left: 0px;
    color: #00ffbb;
  }
  #social li img {
   width : 25px;
   margin-top: 5px;
  }

  #about_us{
    margin-left: 10%;
    margin-top: 5%;
    color: whitesmoke;
  }
  #about_us p{
    margin-top: 10px;
    width: 300px;
    color: whitesmoke;
  }
  #our_team{
    margin-left: 10%;
    margin-top: 5%;
    color: whitesmoke;

  }
  .inline_div{
    display: inline-block;
    margin: 5px;
    padding: 20px;
    width:250px;
    color: whitesmoke;
    background: rgba(2, 2, 2, 0.5); /* สีดำ โปร่งใส 50% */
  }